*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #fafafa;
}
.header-trangchu{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(1, 136, 70);
    position: sticky;
    position: fixed;
    top: 0;
    z-index: 0;
}
.logo-trangchu{
    margin-bottom: -10px;
    list-style: none;
    margin-left: 80px;
    font-size: 20px;
    top: 5px;
    position: absolute;
}
.portal{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.portal form{
    background: #f8f9fa;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: min(100%, 470px);
    padding: 70px;
    display: grid;
    gap: 1rem;
    margin-top:  40px; 
    border-radius: 10px ;
}
.title h2{
    font-size: 1.7rem;
    position: relative;
    padding-left: 25px;
    font-weight: bold;
}

.title p{
    color: #6c757d;
    font-size: 0.8rem;
}
.title h2::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background:#0d6efd;
    left: 0;
    top: 9px;
    border-radius: 50%;
}

/* .title h2::before{
    animation: pulse 1.3s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
} */

input, button{
    font: inherit;
    border:  2px solid transparent;
    outline:  2px solid transparent;
    border-radius: 5px;
}

#google-signin{
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: .5rem;
    border-radius: 10px;
    border: 1px solid rgb(210, 206, 206);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0,02) 0px 1px 3px 0px, rgba(27,31,35, 0,15) 0px 0px 0px 1px;
}
span{
    color: #6c757d;
    display: flex;
}
span::before, span::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #6c757d;
    margin: auto;
}
span::before{
    margin-right:  1rem;
}
span::after{
    margin-left:  1rem;
}
.input-field input{
    background-color: #eeeeee;
    padding: 23px, 15px, 7px;
    width: 100%;
    height: 40px;
}
.input-field{
    position: relative;
}
.input-field label{
    /* color: var(--secondary); */
    position: absolute;
    color: #6c757d;
    left: 25px;
    top: 8px;
    transition: 0.4s all;
    padding-inline: .25rem;
    background-color: transparent;
    transform: 3s ease;
}
.input-name:focus~.label-name,
.input-name:valid~.label-name{
    top: -.5rem;
    left: .5rem;
    background-color: #fff;
    font-size: 1rem;
}
#forgot-pass{
    text-decoration: none;
    color: #0d6efd;
    font-size: .9rem;
    text-align: end;
}
#signup{
    font-size: .9rem;
    text-align: center;
    color: #6c757d;
    text-decoration: none;
}
.btn-signin{
    background-color: #0d6efd;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
}
#signup a{
    text-decoration: none;
}
/* ---------------------------------- */
.wrapper{
    position: relative;
}
.name-input{
    padding: 0.6rem 1.2rem;
    color: #444;
    font-size: 1rem;
    background-color: #eeeeee;
    padding: 23px, 15px, 7px;
    width: 100%;
    height: 40px;
}
.name-lable{
    position: absolute;
    font-size: 1rem;
    transition: .4s all;
    padding-inline: .25rem;

    position: absolute;
    color: #6c757d;
    left: 25px;
    top: 8px;
    padding-inline: .25rem;   
    background-color: transparent;
    transform: 3s ease;
}
.name-input:focus~.name-lable,
.name-input:valid~.name-lable{
    top: -.5rem;
    left: .5rem;
    font-size: .8rem;
}

